
body{
    background-color:darkblue;
}



.calculate{
    text-align: center;
    margin-top: 100px;
    width: 350px;
    height: 250px;
    padding-top: 68px;
    margin-left:38%;
}

label{
    color: #CDB380;
    font-family:sans-serif;
}

input[type=text]{
    border: 1px solid blue;
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
}

button{
    border: none;
    border-radius: 10px;
    width: 65px;
    height: 28px;
    margin-left: 5px;
    background-color: #036564;
    display: inline;
    color: #CDB380;
    margin-top:5px;
}

li{
  color: #E8DDCB;
}